.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.future/
data
data_raw
drafts
temp
*.Rproj
*.docx
*.doc
*.pdf
*.html
*.png
*.log
*.tar.gz
*.ppt
*.pptx
renv/
cached_zip/
*_cache/
*_files/
wc*/
results/
libs/
main_library.bib
working*
treepl
iqtree
_targets
*.swp
