.Rproj.user
.Rhistory
.RData
.Ruserdata
.drake
.Rprofile
data
data_raw
drafts
temp
*.Rproj
*.docx
*.doc
*.pdf
*.html
*.png
*.log
*.tar.gz
packrat/*
!packrat/packrat.lock
*_cache/
*_files/
wc*/
references_raw.bib
